/* CDN - Google font family */
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Universal Selector */
*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#mainSection{
    border: 1px solid rgb(183, 182, 182);
    width: 590px;
    /* height: 280px; */
    border-radius: 10px;
    margin: 20px auto;
    background-color: rgb(24, 12, 31);

}

#info{
    margin: 0px;
    width: 250px;
    /* height: 270px; */
    /* border: solid gray ; */
    display:inline-block;

    

}

#info img{
    border-radius: 50%;
    width: 120px;
    margin-top: 60px auto;
    margin-left: 60px;
    /* border: solid gray ; */
}
#info h3{
    color: antiquewhite;
    margin-right: 20px;
    margin-left: 30px;

}
#containt ,h3{
color: aliceblue;
}

#desc{
    margin-top: 30px;
     width: 300px;
    height: 270px;
/* border: solid blue; */
display:inline-block;
}
ul{
    top: auto;
    
    margin: 30px auto;
    color: antiquewhite;
    padding: 10px;
    
    
}
p{
    inset-block-start: center;
    color: antiquewhite;
    margin-left: 30px;
}